<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap.min.css" >
    <title>deanoner</title>
</head>
<body>
    <div class="containers">
        <div class="slider">
            <div class="header clearfix">
                <a class="padding-site" href="./index.html"><img class="slider-logo" src="img/logo.svg" alt="logo"></a>
                <ul class="menu padding-site clearfix">
                    <li class="menu-list"><a href="./index.html" class="menu-link menu-link-active">home</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">contact</a></li>
                </ul>
            </div>
            <div class="slider-text padding-site">
                <h2 class="slider-content">hello, it's deanoner</h2>
            </div>  
        </div>
        <div class="choose-db padding-site clearfix">
            <ul>
                <li class="db-list">
                    <div class="db-block">
                        <h2 class="db-block-h2">Search in social network Vkontakte</h2>
                        <p class="db-block-p">More information</p>
                        <a href="./social_vk.html"><button class="go-over btn btn-primary">Перейти</button></a>
                    </div>
                </li>
                <li class="db-list">
                    <div class="db-block">
                        <h2 class="db-block-h2">Search in social network Instagramm</h2>
                        <p class="db-block-p">More information</p>
                        <a href="./social_inst.html"><button class="go-over btn btn-primary">Перейти</button></a>
                    </div>
                </li>
                <li class="db-list">
                    <div class="db-block">
                        <h2 class="db-block-h2">Search in social network Odnoklassniki</h2>
                        <p class="db-block-p">More information</p>
                        <a href="./social_ok.html"><button class="go-over btn btn-primary">Перейти</button></a>
                    </div>
                </li>
            </ul>                
        </div>
    </div>
    <div class="footer padding-site">
        <p class="footer-p clearfix">&copy;deanoner</p>
        <p class="footer-ask-me">ask me</p>
        <a href="https://vk.com/mocartvel" class="footer-developer-link clearfix"><img class="vk_logo" src="./img/vk_logo.svg" alt="#" class="footer-img-developer"></a>
    </div>
</body>
</html>
