{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %} 

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >

{% endblock css %}

{% block menu %}
     
<div class="slider">
    {% include 'mainapp/includes/inc_menu.html' %}
</div>

{% endblock menu %}


{% block content %}
    <div class="choose-db padding-site clearfix">
        <ul>
            {% for block in blocks %}
            <li class="db-list">         
                <div class="db-block">
                    <h2 class="db-block-h2">{{ block.name }}</h2>
                    <p class="db-block-p">{{ block.discription }}</p>
                    <a href={{block.url}}><button class="go-over btn btn-primary">{{ block.button_name }}</button></a>
                </div> 
            </li>
            {% endfor %}
        </ul>
    </div>                   

{% endblock content %}
    