{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %} 

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >

{% endblock css %}

{% block menu %}
     
<div class="slider">
    {% include 'mainapp/includes/inc_menu.html' %}
</div>

{% endblock menu %}


{% block content %}
    <div class="choose-db padding-site clearfix">
        <ul>
            <li class="db-list">
                <div class="db-block">
                    <h2 class="db-block-h2">Search in social network Vkontakte</h2>
                    <p class="db-block-p">More information</p>
                    <a href="{% url 'social_vk' %}"><button class="go-over btn btn-primary">Перейти</button></a>
                </div>
            </li>
            <li class="db-list">
                <div class="db-block">
                    <h2 class="db-block-h2">Search in social network Instagramm</h2>
                    <p class="db-block-p">More information</p>
                    <a href="{% url 'social_inst' %}"><button class="go-over btn btn-primary">Перейти</button></a>
                </div>
            </li>
            <li class="db-list">
                <div class="db-block">
                    <h2 class="db-block-h2">Search in social network Odnoklassniki</h2>
                    <p class="db-block-p">More information</p>
                    <a href="{% url 'social_ok' %}"><button class="go-over btn btn-primary">Перейти</button></a>
                </div>
            </li>
        </ul>
    </div>                   

{% endblock content %}
    