<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/style_form.css">
    <link rel="stylesheet" href="/static/style_form_inst.css">
    <title>Deanoner</title>
</head>
 <body>
     <div class="containers">
        <div class="slider">
            <div class="header clearfix">
                <a class="padding-site" href="./index.html"><img class="slider-logo" src="img/logo.svg" alt="logo"></a>
                <ul class="menu padding-site clearfix">
                    <li class="menu-list"><a href="./index.html" class="menu-link menu-link-active">home</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">contact</a></li>
                </ul>
            </div>
            <div class="slider-text padding-site">
                <h2 class="slider-content">hello, it's deanoner</h2>
            </div>  
        </div>
        <div class="content padding-site">
            <h2 class="content-h2">Search in social network Instagramm</h2>
            <p class="content-p">More information</p>
            <div class="form-block inst">
                <div class="form-block-upload-photo"></div>
                <div class="form-count markup-form-block">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Count</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>50</option>
                        <option value="1">100</option>
                        <option value="2">150</option>
                        <option value="3">200</option>
                    </select>
                </div>
                <button class="search btn btn-success">search...</button>
                <a href="./index.html"><button class="return btn btn-danger">return</button></a>
            </div>
        </div>
     </div>
     <div class="footer padding-site">
        <p class="footer-p clearfix">&copy;deanoner</p>
        <p class="footer-ask-me">ask me</p>
        <a href="https://vk.com/mocartvel" class="footer-developer-link clearfix"><img class="vk_logo" src="./img/vk_logo.svg" alt="#" class="footer-img-developer"></a>
    </div>
 </body>
 </html>
