{% extends 'mainapp/base.html' %}
{% load static %}
    
{% block css %}
            
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'style_form.css' %}">

{% endblock css %}

{% block menu %}
     
    <div class="slider">
        {% include 'mainapp/includes/inc_menu.html' %}
    </div>

{% endblock menu %}

{% block content %}
<div class="content padding-site">
    <h2 class="content-h2">Search in social network Vkontakte</h2>
    <p class="content-p">More information</p>
    <div class="form-block">
        <div class="form-block-upload-photo"></div>
        <div class="form-block-sex markup-form-block">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Sex</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>any sex</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-bdate markup-form-block">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Birhdate</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>any Birthdate</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-city markup-form-block">
            <label class="mr-sm-2" for="inlineFormCustomSelect">City</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>any city</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-count markup-form-block">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Count</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>50</option>
                <option value="1">100</option>
                <option value="2">150</option>
                <option value="3">200</option>
            </select>
        </div>
        <a href="{% url 'result_vk' %}"><button class="search btn btn-success">search...</button></a>
        <a href="{% url 'main' %}"><button class="return btn btn-danger">return</button></a>
    </div>
</div>
</div>
{% endblock content %}
    